flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a26a3189cd9b080",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"t\":3,\"h\":4,\"p\":5}",
        "payloadType": "json",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "42b2e34261636260"
            ]
        ]
    },
    {
        "id": "d61b5c72d0b92534",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "4942b6a3082265e2",
        "name": "",
        "x": 690,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "42b2e34261636260",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "const data = msg.payload\nmsg.payload =[data.t,data.h,data.p]\nflow.set('raeltime',data)\nmsg.topic = 'insert into iot (t,h,p) values (?,?,?);'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "d61b5c72d0b92534"
            ]
        ]
    },
    {
        "id": "fa14eb1d04651e7e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/esp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7c318829df670832",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "42b2e34261636260",
                "55e9361c239849fd"
            ]
        ]
    },
    {
        "id": "55e9361c239849fd",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "fc355f84f920c682",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "\nmsg.topic = 'select * from iot order by at desc  limit 10 ;'\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "1bf245ea36c10f9d"
            ]
        ]
    },
    {
        "id": "cb49426b8733c321",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/history",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "fc355f84f920c682"
            ]
        ]
    },
    {
        "id": "dc1065b67121cbda",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "1bf245ea36c10f9d",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "4942b6a3082265e2",
        "name": "",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "dc1065b67121cbda",
                "74d266d01f129f10"
            ]
        ]
    },
    {
        "id": "74d266d01f129f10",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "e69842eada731ca2",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/raeltime",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "dbee6e4dc55c2fa0"
            ]
        ]
    },
    {
        "id": "dbee6e4dc55c2fa0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "msg.payload = flow.get('raeltime')\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "256a6aeab636e5ef"
            ]
        ]
    },
    {
        "id": "256a6aeab636e5ef",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "c0a428c113dd5bf9",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 540,
        "wires": [
            [
                "a46d3ce6f890912c"
            ]
        ]
    },
    {
        "id": "a46d3ce6f890912c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.payload = {\n    t: (20 + Math.random() * 10).toFixed(2),\n    p: (1000 + Math.random() * 20).toFixed(2),\n    h: (40 + Math.random() * 20).toFixed(2)\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 540,
        "wires": [
            [
                "da0298859b562a7c"
            ]
        ]
    },
    {
        "id": "da0298859b562a7c",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/esp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7c318829df670832",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "4942b6a3082265e2",
        "type": "MySQLdatabase",
        "name": "",
        "host": "mysql",
        "port": "3306",
        "db": "iot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "7c318829df670832",
        "type": "mqtt-broker",
        "name": "",
        "broker": "emqx",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c34991e7204498b9",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "2.0.0"
        }
    }
]